{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
    <div class="p-5 h1">
        Portfo
        <span {{ stimulus_controller('symfony/ux-typed', {
            strings: ['lio', '-lionel Da Rosa'],
            smartBackspace: true,
            startDelay: 100,
            backSpeed: 50,
            backDelay: 400,
            loop: true,
            showCursor: true,
            cursorChar: '_'
        }) }}></span>
    </div>
{% endblock %}